.card {
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 1rem;
    position: relative;
}

.card img {
    width: auto;
    height: 100%;
}

.cardOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #777;
    color: white;
    padding: 1rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.card:hover .cardOverlay {
    opacity: .85;
}

.cardOverlay h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem
}