.footer {
    padding: 3rem;
    background-color: #000033;
    margin-top: 1rem;
    color: white
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
}

.footerContainer > div {
    min-width: 250px;
    flex: 1;
    padding-left: 1rem;
}

.footer li {
    list-style-type: none;
    padding: 0.25rem
}

.footer h4 {
    font-weight: 200;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.hero {
    display:flex;
    font-weight: 200;
    font-size: 1.5rem;
  }

.hero .bold {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 700;
}

.social li {
    margin-right: 2rem;
    margin-top: 1rem;
  }
  
.social ul {
    display: flex;
    margin-left: 0px
}

.social {
    padding-top: 1.5rem
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > div {
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin: 8px
}

.gallery img {
    width: auto;
    height: 100%;
}

@media (max-width: 576px) {
    .footerContainer {
        flex-wrap: wrap;
    }

}